*{
    margin: 0px;
    padding: 0px;
}

.nav{
    background: rgb(44, 41, 41);
    display: flex;
    justify-content:space-between;
    width: 60%;
    margin: 50px;
    height: 50px;
}

.nav-title{
    display: flex;
    align-items: center;
    color: white;
    margin-left: 10px;
}

.nav-links{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content:space-evenly;
    width: 50%;
}

